/* OpenLayers default overrides */

.ol-control {
    position: absolute;
    /* background-color: rgba(255, 255, 255, 0.4); */
    border-radius: 4px;
    padding: 2px;
    right: 10px;
}

.ol-control button {
    background-color: #171717;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-weight: bolder;
    font-size: 28px;
    font-family: initial;
    margin: 0;
}

.ol-control.ol-zoom {
    background: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    top: 50%;
}

.ol-control.ol-zoom button {
    background-color: #171717;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-weight: bolder;
    font-size: 28px;
    font-family: initial;
}

.ol-control button:focus {
    outline: none;
}

.ol-control button:hover {
    outline: none;
}

.ol-attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    background-color: white;
    padding: 4px;
}

.ol-attribution button {
    display: none;
}

.ol-scale-line {
    bottom: 25px;
    right: 18px;
    left: unset;
    position: inherit;
}

.ol-rotate {
    top: 10px;
}
